<!DOCTYPE html>
<html lang="en">
  <title> Data Collector App</title>
  <head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">"
  </head>
<style>
  body{
    background-image: url("https://i.pinimg.com/originals/e2/71/fd/e271fda72f1e158b5f0569cc72d36d7f.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font: italic small-caps bold 24px/50px Georgia, serif;
  }
  div#footer{
    position: absolute;
    font: 24px Arial, sans-serif;
    bottom: 10px;
    width: 50%;
    border: 3px solid black;
  }
</style>
<body>
   <div class="container">
        <p class="success-message"> Thank you for your submission! <br>
          You will receive an email based on your entered credentials shortly.
        </p>
      </div>
      <div id="footer" text>
          <a>connect us on:</a>
          <a href="https://www.facebook.com/nandhakizor.v" class="fa fa-facebook-official w3-hover-opacity"></a>
          <a href="https://www.linkedin.com/in/nandha-kizor-v-854a9718b/" class="fa fa-linkedin w3-hover-opacity"></a>
          <a href="https://twitter.com/therealnk26" class="fa fa-twitter w3-hover-opacity"></a>
        </p>
      </div>

    </body>
</html>
